---
import { Image } from "astro:assets";

import champagneToast from "../assets/champagne-toast.jpeg";
import dublinByLamplight from "../assets/dublin-by-lamplight.png";
import jesterHat from "../assets/jester-hat.jpeg";
import mouthbreathers from "../assets/mouthbreathers.jpeg";
import semPortrait from "../assets/sem-portrait.jpeg";
import softwareWork from "../assets/software-work.jpeg";
import swarthmoreGraduation from "../assets/swarthmore-graduation.jpg";

const data = [
  {
    description:
      "I grow up in rural south-central Pennsylvania, where I discover a love for video games, playing guitar, and creative writing.",
    headline: "The story begins",
    image: jesterHat,
    year: "1993",
  },
  {
    description:
      "I attend Wyoming Seminary, a private college preparatory school in Kingston, PA, on full scholarship. I am awarded the Outstanding Graduate, Alumni Service Award, and the Levi Sprague Fellowship for my outstanding academic and community contributions.",
    headline: "Discovering myself at boarding school",
    image: semPortrait,
    year: "2007",
  },
  {
    description:
      "I attend Swarthmore College, where I graduate with High Honors in Theater. I also study Computer Science and Psychology, thrilled to be able to explore such diverse subjects.",
    headline: '"The best years of your life"',
    image: swarthmoreGraduation,
    year: "2011",
  },
  {
    description:
      "I found [redacted] theater company, where I work as a producer, director, and actor, responsible for creating multiple productions and festivals in Philadelphia.",
    headline: "Founding a theater company",
    image: dublinByLamplight,
    year: "2014",
  },
  {
    description:
      "My software engineering career thrives, growing to a Staff-level frontend engineer by working with a variety of fast-moving startups.",
    headline: "Making a life of software engineering",
    image: softwareWork,
    year: "2015",
  },
  {
    description:
      "I re-focus my creative energy on music - singing and playing guitar in a pop-punk cover band and starting a streaming review channel called The Pulse of Music.",
    headline: "Rockin' out",
    image: mouthbreathers,
    year: "2020",
  },
  {
    description:
      "I take a gap year to study a breadth of new topics and recharge my creative batteries.",
    headline: "Exploring new horizons",
    image: champagneToast,
    year: "2026",
  },
  {
    description:
      "I am currently exploring new opportunities and projects, eager to apply my diverse skills and experiences to new challenges.",
    headline: "What's next?",
    image: null,
    year: "Present",
  },
];

const buildGradient = (index: number) => {
  const colors = ["--color-secondary", "--color-white", "--color-tertiary"];

  const colorOneIndex = Math.floor(index / colors.length);
  const colorOne = colors[colorOneIndex];

  const colorTwoIndex = Math.floor((index + 1) / colors.length);
  const colorTwo =
    colorTwoIndex > colors.length - 1
      ? colors[colors.length - 1]
      : colors[colorTwoIndex];

  return `linear-gradient(135deg, var(${colorOne}) 0%, var(${colorTwo}) 100%)`;
};
---

<section class="timeline">
  <div class="timeline-container" style={`min-width: ${data.length * 520}px`}>
    {
      data.map((entry, index) => {
        const isAbove = index % 2 === 0;
        const position = (index * 100) / data.length;
        const gradient = buildGradient(index);

        return (
          <div
            class="timeline-entry"
            style={`--position: calc(${position}% + 240px)`}
          >
            <div class="timeline-line" />
            <div class="timeline-marker" style={`background: ${gradient}`}>
              {entry.year}
            </div>
            <div
              class={`timeline-content ${isAbove ? "above" : "below"}`}
              style={`background: ${gradient}`}
            >
              {entry.image && (
                <Image src={entry.image} alt="test" width="100" />
              )}
              <div class="timeline-text">
                <h3 class="timeline-headline">{entry.headline}</h3>
                <p class="timeline-description">{entry.description}</p>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .timeline {
    --axis-height: 4px;
    --marker-height: 47px;

    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: auto;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .timeline-container {
    position: relative;
    height: 700px;
    background: linear-gradient(
      to right,
      var(--color-tertiary),
      var(--color-white),
      var(--color-secondary)
    );
  }

  .timeline-entry {
    position: absolute;
    top: 50%;
    left: var(--position);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }

  .timeline-line {
    background-color: var(--color-black);
    height: var(--axis-height);
    width: calc(280px * 2);
  }

  .timeline-marker {
    align-items: center;
    color: var(--color-black);
    display: flex;
    font-family: var(--font-display);
    font-size: 0.875rem;
    border-radius: 50%;
    border: 3px solid var(--color-black);
    height: var(--marker-height);
    padding: 12px;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    top: calc((var(--marker-height) / 2) * -1);
  }

  .timeline-content {
    --content-gap: 24px;

    border: 3px solid var(--color-black);
    border-radius: 12px;
    padding: 1.25rem;
    box-shadow: 6px 6px 0 var(--color-black);
    display: flex;
    gap: 1rem;
    position: relative;
    transition:
      scale 0.2s ease,
      box-shadow 0.2s ease;

    &.above {
      bottom: calc(var(--marker-height) * 2);
      transform: translateY(-100%);
    }

    &.below {
      top: 0px;
    }
  }

  .timeline-content:hover {
    scale: 1.25;
    box-shadow: 8px 8px 0 var(--color-black);
  }

  .timeline-headline {
    font-family: var(--font-display);
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    color: var(--color-black);
  }

  .timeline-description {
    font-family: var(--font-body);
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--color-black);
    opacity: 0.85;
    margin: 0;
  }
</style>
