---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BoxItem from "../../components/BoxItem.astro";

const allSoftwareEntries = (await getCollection("software")).sort(
  (a, b) =>
    new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime(),
);
---

<Layout maxWidth={1200}>
  <h2>Software Experience</h2>
  <div class="software-items">
    {
      allSoftwareEntries.map((entry) => {
        const startYear = new Date(entry.data.startDate).getFullYear();
        const endYear = new Date(entry.data.endDate).getFullYear();
        const isSameYear = startYear === endYear;
        const dateRange = isSameYear ? startYear : `${startYear} - ${endYear}`;

        return (
          <BoxItem
            class="item"
            href={`/software/${entry.id}`}
            subtitle={entry.data.subtitle}
            title={`${entry.data.title} (${dateRange})`}
          >
            <Image alt={entry.data.title} src={entry.data.logo} width="100" />
          </BoxItem>
        );
      })
    }
  </div>
</Layout>

<style>
  h2 {
    margin-bottom: 1rem;
  }

  .software-items {
    display: grid;
    grid-template-columns: calc(50% - 1.5rem) calc(50% - 1.5rem);
    gap: 2rem 3rem;
  }
</style>
